@charset "UTF-8";

.main-content {
    margin-top: 0;
    padding-top: 83px;
}

.title-image {
    display: block;
    margin: 1px auto 0;
    width: 690px;
}

.article-container {
    box-sizing: border-box;
}

.article-header {
    overflow: hidden;
    /*width: 690px;*/
    margin: 0 auto;
}

.article-title {
    font-synthesis: style;
    line-height: 1.3;
    margin-bottom: 30px;
    margin-top: 30px;
    word-wrap: break-word;
    font-size: 30px;
    font-weight: 700;
}

.author-info-image {
    width: 41px;
    height: 41px;
    vertical-align: top;
    border-radius: 50%;
}

.author-info-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 14px;
}

.author-info-name {
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}

.author-info-name:hover {
    color: #1a1a1a;
    text-decoration: none;
}

.author-info-introduction {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #646464;
    line-height: 1.6;
    font-size: 14px;
}

.follow-btn {
    margin-right: 2px;
    margin-top: 2px;
    border-radius: 40px;
    color: #fff;
    background-color: #42c02e;
    border-color: #42c02e;
    width: 100px;
}

.article-container>div {
    /*overflow: hidden;*/
    /*width: 690px;*/
    margin: 0 auto;
}

.article-content {
    margin-top: 25px;
    margin-bottom: 40px;
    line-height: 1.75rem;
}

.article-container p {
    margin-bottom: 0;
}

.article-content img {
    position: relative;
    max-width: 100%;
    /*display: block;*/
    margin: 0 auto;
    overflow: auto;
}

.article-content h1 {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 1rem;
}

.article-content h2 {
    margin-top: 1.66667em;
    margin-bottom: 1rem;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 600;
    font-synthesis: style;
}

.article-content h3 {
    margin-top: 1.66667em;
    margin-bottom: 1rem;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 600;
    font-synthesis: style;
}

.article-content h4 {
    margin-top: 1.66667em;
    margin-bottom: 1rem;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 600;
    font-synthesis: style;
}

.article-content h5 {
    margin-top: 1.66667em;
    margin-bottom: 1rem;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 600;
    font-synthesis: style;
}

.article-content h6 {
    margin-top: 1.66667em;
    margin-bottom: 1rem;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 600;
    font-synthesis: style;
}

.article-share-time {
    margin-bottom: 2rem !important;
}

.tags {
    margin-bottom: 3rem !important;
}

pre {
    background-color: #282b2e;
}

.article-extra-info {
    line-height: 1.75rem;
}

.recommended-article-card-body {
    padding: 0 2rem;
}
