<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>写博客 - Exception开发者社区</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/plugins/editor-md/editormd.css}">
    <link rel="stylesheet" th:href="@{/css/article/article-write.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="col-md-12 br-3px">
            <div th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username == null}" class="alert alert-warning" role="alert">
                您还没登录呢! 问题将无法提交哦! 去<a href="#" onclick="showLoginModal()">登陆</a>
            </div>
            <!-- csrf -->
            <div th:replace="fragment/common :: csrfHiddenInput"></div>

            <form id="form" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="0" checked>
                        <label class="form-check-label" for="inlineRadio1">原创</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="1">
                        <label class="form-check-label" for="inlineRadio2">翻译</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="2">
                        <label class="form-check-label" for="inlineRadio2">转载</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>博客标题</label>
                    <input id="title" type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>博客正文</label>
                    <div id="editormd1" class="editor-md">
                        <textarea id="content" class="editormd-markdown-textarea" name="content"></textarea>
                    </div>
                </div>
                <div id="added-question-tags" style="margin-bottom: 10px;">
                    已添加的标签：
                    <!--<span class="badge badge-secondary marginright-5px">Secondary<i class="fa fa-times-circle marginleft-5px"></i></span>-->
                </div>
                <div id="tag-ids-hidden" style="visibility: hidden;">
                    <!--<input name="tagIds[0]" value="0">-->
                </div>
                <div class="form-group">
                    <label>添加问题标签</label>
                    <input type="text" class="form-control" id="input-tag-name">
                    <div id="response-tags-container" style="margin-top: 10px;">
                        <!--<span class="badge badge-secondary" onclick="chooseTag();">Secondary</span>-->
                    </div>
                </div>

                <button type="button" class="btn btn-success btn-block" onclick="submitArticle()">发布</button>
            </form>
        </div>
    </div>

</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script th:replace="fragment/common-js :: chooseTag"></script>
<script th:src="@{/plugins/editor-md/editormd.min.js}"></script>
<!--<script th:src="@{/js/jquery.form.js}"></script>-->
<!--<script th:src="@{/plugins/validate/jquery.validate.min.js}"></script>-->
<!--<script th:src="@{/plugins/validate/messages_zh.min.js}"></script>-->
<script th:src="@{/plugins/layer/layer.js}"></script>

<script th:inline="javascript">
    $(function() {
        var editormd1;
        editormd1 = editormd("editormd1", {
            width   : "100%",
            height  : 350,
            syncScrolling : "single",
            path    : "/plugins/editor-md/lib/", // 依赖的 lib 目录
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/file/editorMdImg/upload", // 依赖的 lib 目录
            watch: false,
            autoFocus : false,
            toolbarIcons : function() {
                // Or return editormd.toolbarModes[name]; // full, simple, mini
                // Using "||" set icons align right.
                return ["bold", "italic","quote", "|", "h2", "h3", "h4", "h5", "h6", "|",
                    "list-ul", "list-ol", "hr", "|", "link", "image", "code", "preformatted-text", "table",
                    "datetime", "|",  "watch", "preview"]
            }
        });

    });

    function submitArticle() {
        var title = $('#title').val();
        var content = $('#content').val();
        var tagSize = $('#tag-ids-hidden').children().length;
        if (title.trim() == '') {
            layer.msg("文章标题不能为空");
            return;
        }

        if (title.length > 50) {
            layer.msg("文章标题不能超过50个字");
            return;
        }

        if (content.trim() == '') {
            layer.msg("文章正文不能为空");
            return;
        }

        if (tagSize < 1) {
            layer.msg("请为文章打上合适的标签");
            return;
        }

        if (tagSize > 5) {
            layer.msg("最多只能打五个标签");
            return;
        }

        var formData = new FormData($("#form")[0]);
        $.ajax({
            type: "POST",
            url: "/article",
            data: formData,
            async: true,
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success == true) {
                    layer.msg("发布成功");
                    location.href = "/article/" + response.data;
                } else {
                    layer.msg("发布失败 - " + response.errorMessage);
                }
            }
        });
    }
</script>
</html>