<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>博客 - Exception开发者社区</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/article/article-list.css}">
    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="col-md-9 br-3px">
            <div class="card marginbottom-10px">
                <div class="card-body">
                    <div class="article-author-info">
                        <div>
                            <a href="#"><img class="avatar" src="https://exception-image-bucket.oss-cn-hangzhou.aliyuncs.com/152929087656526"></a>
                        </div>
                        <div>
                            <a href="#" class="author-name">AllenJiang</a>
                        </div>
                        <div>
                            <span class="author-introduce">,&nbsp;&nbsp;三流程序员</span>
                        </div>
                    </div>
                    <div class="article-content">
                        <h2 class="article-title"><a href="#" >30岁之前，请逼自己成为这种人</a></h2>
                        <div class="article-snapshoot">
                            <img class="float-left article-snapshoot-img" src="https://img.mukewang.com/5b1e47160001d8a918720632.jpg" alt="cover">
                            <div class="article-snapshoot-content">
                                我记得当年大学时一件事，有四个外面来的小混混无聊至极，跑到学校的健身房 “混社会”，
                                我记得当年大学时一件事，有四个外面来的小混混无聊至极，跑到学校的健身房 “混社会”，
                                霸占着器材又不拉屎。来了一个欧美的留学生，不太会中文，就跟那些人杠上了。
                                混混们操着一口不知道哪里的脏话就要开打，然后…
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card marginbottom-10px">
                <div class="card-body">
                    <div class="article-author-info">
                        <a href="#"><img class="avatar" src="https://exception-image-bucket.oss-cn-hangzhou.aliyuncs.com/152929087656526"></a>
                        <a href="#" class="author-name">AllenJiang</a>
                        <span class="author-introduce">,&nbsp;&nbsp;三流程序员</span>
                    </div>
                    <div class="article-content">
                        <h2 class="article-title"><a href="#" >30岁之前，请逼自己成为这种人</a></h2>
                        <div class="article-snapshoot">
                            <div class="article-snapshoot-content">
                                我记得当年大学时一件事，有四个外面来的小混混无聊至极，跑到学校的健身房 “混社会”，霸占着器材又不拉屎。来了一个欧美的留学生，不太会中文，就跟那些人杠上了。混混们操着一口不知道哪里的脏话就要开打，然后…
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card marginbottom-10px">
                <div class="card-body">
                    <div class="article-author-info">
                        <div>
                            <a href="#"><img class="avatar" src="https://exception-image-bucket.oss-cn-hangzhou.aliyuncs.com/152929087656526"></a>
                        </div>
                        <div>
                            <a href="#" class="author-name">AllenJiang</a>
                        </div>
                        <div>
                            <span class="author-introduce">,&nbsp;&nbsp;三流程序员</span>
                        </div>
                    </div>
                    <div class="article-content">
                        <h2 class="article-title"><a href="#" >30岁之前，请逼自己成为这种人</a></h2>
                        <div class="article-snapshoot">
                            <img class="float-left article-snapshoot-img" src="https://img.mukewang.com/5b2b81bb00016aee18720632.jpg" alt="cover">
                            <div class="article-snapshoot-content">
                                我记得当年大学时一件事，有四个外面来的小混混无聊至极，跑到学校的健身房 “混社会”，
                                我记得当年大学时一件事，有四个外面来的小混混无聊至极，跑到学校的健身房 “混社会”，
                                霸占着器材又不拉屎。来了一个欧美的留学生，不太会中文，就跟那些人杠上了。
                                混混们操着一口不知道哪里的脏话就要开打，然后…
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card marginbottom-10px">
                <div class="card-body pull-up-loading-more">
                    上拉加载更多
                </div>
            </div>

        </div>

        <!-- 右边栏 -->
        <div class="col-md-3 br-3px">
            <!-- 热门标签 -->
            <div id="hot-tag-card" class="card" style="display: none;">
                <div class="card-header m-card-header">
                    <div class="card-title">热门标签</div>
                </div>
                <div class="card-body hot-tag-card-body">
                    <ul id="hot-tag-list" class="list-group list-group-flush">
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center">-->
                        <!--<span class="badge badge-secondary">android</span>-->
                        <!--<span class="badge badge-light badge-pill">14</span>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- 回到顶部 -->
    <button th:replace="fragment/common :: backToTop"></button>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:replace="fragment/common-js :: ajaxLoadHotTags"></script>
<script th:replace="fragment/common-js :: baiduLinkPush"></script>
<script th:replace="fragment/common-js :: 360LinkPush"></script>

<script th:inline="javascript">
    $(document).ready(function() {
    });

</script>
</html>