<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="js" th:inline="javascript">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script th:src="@{/js/jquery.min.js}"></script>-->
    <!--<script th:src="@{/js/popper.min.js}"></script>-->
    <!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
    <script src="https://lib.baomitu.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://lib.baomitu.com/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script th:src="@{/static/plugins/nprogress/nprogress.js}"></script>
    <script th:src="@{/static/js/jquery.twbsPagination.min.js}"></script>
    <script th:src="@{/static/js/jquery.toTop.min.js}"></script>
    <script >
        $(document).ready(function() {
            // top nav
            $("#top-nav").find("li").removeClass("active");
            $("#" + [[${topNav}]]).addClass("active");

            // tab
            $("#tab-container").find("li").find("a").removeClass("active");
            $("#" + [[${tab}]]).addClass("active");

            // header search
            $('#header-search').click(function() {
                $('#header-search').animate({width: '500px'});
            }).blur(function() {
                $('#header-search').animate({width: '300px'});
            });

            // back to top
            $('.to-top').toTop({
                //以下是选项默认参数，您可以根据自己的需求修改
                autohide: true,  // 是否自动隐藏
                offset: 420,     // 距离顶部多少距离时自动隐藏按钮
                speed: 200,      // 滚动持续时间
                position: true,  // 如果设置为 false，则需要手动在 css 中设置“按钮”的位置
                right: 20,       // 右侧距离
                bottom: 120      // 底部距离
            });

        });

        // enable tooltips everywhere
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</div>

<script th:fragment="nprogress" th:inline="javascript">
    $(document).ready(function () {
        // 顶部加载进度条
        NProgress.configure({
            showSpinner: false
        });
        NProgress.start();
    });
    // 页面内容全部加载完成后，设置进度条消失
    $(window).load(function () {
        NProgress.done()
    });
</script>

<!-- 百度统计 -->
<script th:fragment="baiduStatistics" th:inline="javascript">
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?4442b22cf891556abc24108829356be4";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- google 统计 -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script th:fragment="gtagjs" th:inline="javascript" async src="https://www.googletagmanager.com/gtag/js?id=UA-120858282-1"></script>
<script th:fragment="googleStatistics" th:inline="javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120858282-1');
</script>

<!-- 百度链接推送 -->
<script th:fragment="baiduLinkPush" th:inline="javascript">
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

<!-- 360链接推送 -->
<script th:fragment="360LinkPush" th:inline="javascript">
    (function(){
        var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?a1b421285d25d7d0a4a634b637de24fe":"https://jspassport.ssl.qhimg.com/11.0.1.js?a1b421285d25d7d0a4a634b637de24fe";
        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>

<!-- 热门标签加载 -->
<script th:fragment="ajaxLoadHotTags" th:inline="javascript">
    $(document).ready(function() {
        // 右边栏热门标签数据，异步加载
        $('#hot-tag-card').show();
        $.ajax({
            type: "GET",
            async: true,
            url: "/home/hot/tag/list",
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, tag) {
                        html += "<li class=\"list-group-item d-flex justify-content-between align-items-center border0 padding0\">";
                        html += "<a href=\"/question/tag/" + tag.tagId + "\" class=\"badge badge-light-blue\">" + tag.tagName + "</a>";
                        html += "<span class=\"badge badge-light badge-pill text-gray\">" + tag.questionCount + "</span>";
                        html += "</li>"
                    });
                    $('#hot-tag-list').html(html);
                }
            }
        });
    });
</script>

<!-- 标签选择 -->
<script th:fragment="chooseTag" th:inline="javascript">
    $(document).ready(function() {
        // 标签模糊查询
        $("#input-tag-name").bind("input propertychange", function () {
            var inputStr = $(this).val();
            if ($.trim(inputStr).length < 3) {
                return;
            }

            // csrf
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            var jsonStr = {"tagName": inputStr};

            $.ajax({
                type: "POST",
                async: true,
                url: "/tag/queryByName",
                datatype: "json",
                contentType: "application/json",
                data: JSON.stringify(jsonStr),
                success: function (response) {
                    if (response.success == true) {
                        var data = response.data;
                        $('#response-tags-container').html('');
                        $.each(data, function (i, tag) {
                            var html = "<span class=\"badge badge-light-blue marginright-5px\" onclick=\"chooseTag('"
                                + tag.tagId + "', '"
                                + tag.tagName + "');\">"
                                + tag.tagName + "</span>";
                            $('#response-tags-container').append(html);
                        });
                    }
                }
            });
        });
    });

    var tagIdsMap = {};
    var index = 0;

    // add tag
    function chooseTag(tagId, tagName) {
        if (tagId in tagIdsMap) {
            layer.msg("该标签已经添加了哦！");
            return;
        }
        var html = "<span class=\"badge badge-light-blue marginright-5px\" id='"+tagName+"'>" + tagName
            + "<i class=\"fa fa-times-circle marginleft-5px\" onclick=\"deleteTag('"+tagId+"','"+tagName+"')\"></i></span>";
        $('#added-question-tags').append(html)
        var html2 = " <input id='hidden-"+tagName+"' name=\"tagIds["+(index++)+"]\" value='"+tagId+"'>";
        $('#tag-ids-hidden').append(html2);
        // add to map
        tagIdsMap[tagId] = tagId;
    }

    function deleteTag(tagId, tagName) {
        $('#' + tagName).remove();
        $('#hidden-' + tagName).remove();
        delete tagIdsMap[tagId];
    }
</script>

</html>