<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 顶部导航栏 -->
<header th:fragment="header">
    <!-- Content here -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light m-navbar">
        <div class="container-fluid">
            <a class="navbar-brand m-navbar-brand" th:href="@{/home}">
                <!--<img th:src="@{/images/logo.jpg}" width="30" height="30" class="d-inline-block align-top" alt="">-->
                Exception 教程网
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" id="top-nav">
                    <li class="nav-item" id="home" >
                        <a class="nav-link fs-16px" th:href="@{/home}">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="course">
                        <a class="nav-link fs-16px" th:href="@{/course}">教程</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
                    <div class="form-group">
                        <div class="form-group-search">
                            <input id="header-search" name="key" class="form-control mr-sm-2 header-search" type="search" placeholder="搜索教程 ..." aria-label="Search" style="width: 300px;">
                            <button class="search-submit" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>


                <a class="nav-link login fs-16px"
                   th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username == null}"
                   href="#"
                   onclick="showLoginModal()"
                   data-toggle="modal">登录</a>

                <div class="dropdown" th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username != null}">
                    <a href="#" class="dropdown-toggle login-image-a" data-toggle="dropdown">
                        <img th:src="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.avatar}"
                             class="rounded float-right login-image m-login-image" >
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/logout}">
                            <i class="fa fa-power-off" aria-hidden="true"></i>
                            安全退出
                        </a>
                    </div>
                </div>

                <!-- 分享方案 -->
                <a th:if="${topNav == 'question'}" th:href="@{/question}">
                    <button  type="button" class="btn btn-outline-primary" style="margin-left: .5rem">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    分享问题
                    </button>
                </a>

                <!-- 写博客 -->
                <a th:if="${topNav == 'article'}" th:href="@{/article/write}">
                    <button  type="button" class="btn btn-outline-primary" style="margin-left: .5rem">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    写博客
                    </button>
                </a>
            </div>
        </div>
    </nav>
</header>


<!-- footer -->
<footer th:if="${topNav != 'article'}" class="footer bg-white margintop-30px" th:fragment="footer">
    <div class="container copy-right">
        Copy right © 2017-2019
            <strong><a href="//www.exception.site/">Exception 教程网</a></strong>&nbsp;
            <strong><a href="//www.exception.site/">www.exception.site</a></strong>
            &nbsp;All Rights Reserved. 备案号: 皖ICP备18011040号
    </div>
</footer>

<!-- 登录 Modal -->
<div th:fragment="loginModal" class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLongTitle">登录</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <div class="modal-body">
                <div class="modal-body-header">
                    <div class="modal-logo">Exception</div>
                    <div class="login-modal-header-slogan">
                        登录 Exception 社区, 分享你的编程知识
                    </div>
                </div>
                <div class="modal-body-inner">
                    <form id="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="密码">
                        </div>
                        <div class="form-check marginbottom-1rem">
                            <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me" checked="true">
                            <label class="form-check-label" for="remember-me">记住我</label>
                        </div>
                        <button type="button" class="btn btn-primary btn-block btn-modal-login" onclick="ajaxLogin()">登&nbsp;&nbsp;录</button>
                    </form>
                </div>

            </div>
            <div class="modal-footer login-modal-footer">
                没有账号?
                <a href="#" class="modal-register-a"
                   data-toggle="tooltip" data-placement="top"
                   title="内测阶段, 暂未开放哦">&nbsp;注册</a>
            </div>
            <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
                <!--<span aria-hidden="true">&times;</span>-->
                <svg class="modal-close-icon" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z" fill-rule="evenodd"></path></svg>
            </button>

        </div>
    </div>

    <script th:inline="javascript">
        function showLoginModal() {
            $('#loginModal').modal('show');
        }

        function ajaxLogin() {
            // csrf
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            var formParam = $('#login-form').serialize();
            $.ajax({
                type: "post",
                async: true,
                url: "/login",
                data: formParam,
                success: function (response) {
                    if (response.success == true) {
                        $('#loginModal').modal('hide');
                        window.location.reload();
                    } else {
                        layer.msg(response.errorMessage);
                    }
                },
                // http status not 200
                error: function(response) {
                    layer.msg('登录失败 !!!');
                }
            });
        }
    </script>
</div>

<div th:fragment="csrfHiddenInput">
    <input type="hidden" th:value="${_csrf.parameterName}" id="parameterName">
    <input type="hidden" th:value="${_csrf.token}" id="token">
</div>

<!-- 回到顶部 -->
<button th:fragment="backToTop" class="to-top" data-toggle="tooltip" data-placement="left" title="回到顶部">
    <svg title="回到顶部" fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
        <path d="M16.036 19.59a1 1 0 0 1-.997.995H9.032a.996.996 0 0 1-.997-.996v-7.005H5.03c-1.1 0-1.36-.633-.578-1.416L11.33 4.29a1.003 1.003 0 0 1 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.005z"></path>
    </svg>
</button>

</body>
</html>