<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>标签墙 - Exception开发者社区</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/tag/tag-wall.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="card tag-wall-card">
            <div class="card-header m-card-header">
                <div class="card-title">标签墙</div>
            </div>
            <div class="card-body tag-wall-card-body">
                <div class="grid-layout">
                    <div th:each="tag : ${response.data}" class="grid-layout-cell">
                        <div class="tag-cell-header">
                            <a th:href="'/question/tag/' + ${tag.id}"
                               class="badge badge-light-blue marginright-5px badge-zhihu"
                               th:text="${tag.name + ' × ' + tag.questionCount}">java</a>
                            <!--<span class="cell-multiplier">-->
                                <!--<span>×</span>&nbsp;-->
                                <!--<span th:text="${tag.questionCount}">0</span>-->
                            <!--</span>-->
                        </div>
                        <div class="tag-cell-body" th:utext="${tag.descriptionCn}">
                            Java（不要与JavaScript或JScript混淆
                        </div>
                    </div>
                </div>

                <!-- 分页 -->
                <div class="tag-wall-pagination">
                    <nav aria-label="Page navigation example">
                        <ul id="pagination" class="pagination justify-content-center" style="margin-bottom: 10px;">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        // 分页
        $('#pagination').twbsPagination({
            totalPages: [[${response.totalPage}]],
            visiblePages: 7,
            startPage: [[${response.currentPage}]],
            initiateStartPageClick: false,
            first: '首页',
            prev: '上一页',
            next: '下一页',
            last: '尾页',
            onPageClick: function (event, pageIndex) {
                // $('#page-content').text('Page ' + page);
                location.href = "/tag?pageIndex=" + pageIndex;
            }
        });
    });



</script>



</html>