@charset "UTF-8";

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/*.home-nav-item-a {*/
    /*line-height: 0.5;*/
/*}*/

.home-list-group-item {
    border-left: 0;
    border-right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.hot-tag-card-body ul li {
    margin-bottom: 20px;
}

.hot-tag-card-body ul li:last-child {
    margin-bottom: 0;
}

.question-item {
    padding-left: 15px;
    padding-right: 15px;
}

.home-question-title {
    font-size: 16px;
}

.hot-question-item {
    line-height: 21px;
    color: #8590a6;
    font-size: 14px;
}

.hot-question-card-body .hot-question-item {
    margin-bottom: 10px;
}

.hot-question-card-body .hot-question-item:last-child {
    margin-bottom: 0;
}
