@charset "UTF-8";

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/*.home-nav-item-a {*/
    /*line-height: 0.5;*/
/*}*/

.home-list-group-item {
    border-left: 0;
    border-right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.hot-tag-card-body ul li:last-child {
    margin-bottom: 0;
}

.question-item {
    padding-left: 15px;
    padding-right: 15px;
}

.home-question-title {
    font-size: 16px;
}

.item-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 16px;

}

.item-title a {
    color: #1a1a1a;
}

.item-title a:hover {
    color: #175199;
    text-decoration: none;
}

.item-snapshoot-img {
    width: 170px;
    height: 105px;
    margin-right: 18px;
    margin-bottom: 4px;
    border-radius: 4px;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
    transform: translateZ(0);
    position: relative;
}

.item-author-info {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}

.avatar {
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 2px;
}

.author-name {
    margin-left: 7px;
    font-weight: 600;
    color: #444;
}

.author-name:hover {
    text-decoration: none;
    color: #444;
}

.author-introduce {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #646464;
    font-size: 14px;
}

.item-snapshoot-content {
    max-height: 100px;
    overflow: hidden;
    line-height: 1.67;
}

.pull-up-loading-more {
    display: block;
    line-height: 50px;
    color: #8590a6;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.pull-up-loading-more:hover {
    color: #175199;
    text-decoration: none;
}

.share-question-btn {
    border: none;
    display: inline-block;
    transition: color .2s ease-in;
    font-size: 16px;
    color: #1a1a1a;
    background-color: #fff;
}

.share-question-btn:hover {
    color: #175199;
    cursor: pointer;
}

.write-article-btn {
    border: none;
    display: inline-block;
    transition: color .2s ease-in;
    font-size: 16px;
    color: #1a1a1a;
    margin-left: 10px;
    background-color: #fff;
}

.write-article-btn:hover {
    color: #175199;
    cursor: pointer;
}

.share-question-image {
    color: #8590a6;
}

.write-article-image {
    color: #8590a6;
}

.share-question-a:hover {
    text-decoration: none;
}

.write-article-a:hover {
    text-decoration: none;
}

