<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/home/home.css}">

    <title>Exception问答社区</title>
</head>
<body>
<!-- 顶部导航栏 -->
<div th:replace="fragment/common :: header"></div>
<!-- main content -->
<div class="container main-content">
    <div class="row">
        <div class="col-9 br-3px">

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a id="new" class="nav-link fs-14px" th:href="@{/home}">最新</a>
                        </li>
                        <li class="nav-item">
                            <a id="hot" class="nav-link fs-14px" th:href="@{/home?tab=hot}">最热</a>
                        </li>
                        </li>
                    </ul>
                </div>
                <div class="card-body padding0">
                    <div class="list-group">
                        <div th:each="question : ${response.data}" href="#" class="list-group-item list-group-item-action flex-column align-items-start home-list-group-item question-item">
                            <div class="media-left marginleft-5px">
                                <a th:href="@{'/user/' + ${question.createUserId}}">
                                    <img th:src="${question.createUserAvatar}" class="rounded media-img">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><a th:href="@{'/question/' + ${question.id}}" th:text="${question.titleCn}" class="gray-dark"></a></h5>
                                </div>
                                <!--<small>Donec id elit non mi porta.</small>-->
                                <div class="margintop-3px">
                                    <a th:each="tag : ${question.tags}" th:utext="${tag.tagName}" href="#" class="badge badge-secondary marginright-5px">android</a>
                                    <span class="m-fade fs-12px" style="margin-left: -2px;">
                                        •&nbsp;
                                        <a th:href="@{'/user/' + ${question.createUserId}}" class="fs-12px gray-a">
                                            <strong th:utext="${question.createUserName}"></strong>
                                        </a>
                                        &nbsp;•&nbsp;[[${question.beforeTimeStr}]]
                                        </span>
                                </div>
                                <!--其他信息-->
                            </div>
                        </div>
                    </div>

                    <!-- 分页 -->
                    <nav aria-label="Page navigation example">
                        <ul id="pagination" class="pagination justify-content-center margintop-30px marginbottom-20px">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- 右边栏 -->
        <div class="col br-3px">
            <!-- 问题方案总数 -->
            <div class="card">
                <div class="card-header m-card-header">
                    <h3 class="card-title">问题总数</h3>
                    <!--<span class="pull-right">更多>></span>-->
                </div>
                <div class="card-body m-fade">
                    Exception 社区目前共维护了 <strong class="gray-dark">[[${response.totalCount}]]</strong> 个问题场景下的解决方案
                </div>
            </div>

            <!-- 热门标签 -->
            <div class="card margintop-20px">
                <div class="card-header m-card-header">
                    <h3 class="card-title">热门标签</h3>
                    <!--<span class="pull-right">更多>></span>-->
                </div>
                <div class="card-body hot-tag-card-body">
                    <ul id="hot-tag-list" class="list-group list-group-flush">
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center">-->
                        <!--<span class="badge badge-secondary">android</span>-->
                        <!--<span class="badge badge-light badge-pill">14</span>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>

            <!-- 热门问题-->
            <div class="card margintop-20px">
                <div class="card-header m-card-header">
                    <h3 class="card-title">热门问题</h3>
                </div>
                <div class="card-body">
                    <ul id="hot-question-list" class="list-group list-group-flush">
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center">-->
                        <!--<a class="fs-14px gray-dark" href="#">沃尔夫圣诞节福利的时间反馈了电视剧反垄断法</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- footer -->
<div th:replace="fragment/common :: footer"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<!--<script th:replace="fragment/common-js :: nprogress"></script>-->

<script th:inline="javascript">
    $(document).ready(function() {
        // 分页
        $('#pagination').twbsPagination({
            totalPages: [[${response.totalPage}]],
            visiblePages: 7,
            startPage: [[${response.currentPage}]],
            initiateStartPageClick: false,
            first: '首页',
            prev: '上一页',
            next: '下一页',
            last: '尾页',
            onPageClick: function (event, pageIndex) {
                // $('#page-content').text('Page ' + page);
                location.href = "/home?pageIndex=" + pageIndex + "&tab=" + [[${tab}]];
            }
        });

        // 右边栏数据，异步加载
        // hot tags
        $.ajax({
            type: "GET",
            async: true,
            url: "/home/hot/tag/list",
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, tag) {
                        html += "<li class=\"list-group-item d-flex justify-content-between align-items-center border0 padding0\">";
                        html += "<a href=\"#\" class=\"badge badge-secondary\">" + tag.tagName + "</a>";
                        html += "<span class=\"badge badge-light badge-pill m-fade\">" + tag.questionCount + "</span>";
                        html += "</li>"
                    });
                    $('#hot-tag-list').html(html);
                }
            }
        });

        // hot questions
        $.ajax({
            type: "GET",
            async: true,
            url: "/home/hot/question/list",
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, question) {
                        html += "<li class=\"list-group-item d-flex justify-content-between align-items-center border0 padding0\">";
                        html += "<a class=\"fs-14px blue-a\" href='/question/" + question.id + "'>" + question.titleCn + "</a>";
                        html += "</li>"
                    });
                    $('#hot-question-list').html(html);
                }
            }
        });
    });



</script>
</html>