<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Exception 开发者社区</title>
    <meta name="keywords" content="开发者社区,开发者分享社区,开发者博客,开发者问题,开发者解决方案,开发者编程知识">
    <meta name="description" content="Exception 开发者分享社区 - 开发者可以学习,写博客,分享自己平时自己工作中各种场景下遇到的问题,以及解决方案,编程知识">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- commoncBootstrap CSS -->
    <!--<link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.css}">-->
    <link rel="stylesheet" href="https://lib.baomitu.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/common/bootstrap-override.css}">
    <link rel="stylesheet" th:href="@{/css/common/base.css}">
    <meta name="baidu-site-verification" content="x0xb4LGIXQ" />
    <meta name="google-site-verification" content="bZHTltjjXzU9m2UlCxmxYPuPu7OxRlWZH2cSwP0HhfA" />
    <meta name="msvalidate.01" content="66FB71AC88C4B58ECF64451775EC46DD" />
    <meta name="360-site-verification" content="44f08208659258e5240c7d07274e70d9" />
    <meta name="sogou_site_verification" content="Xpc2HrRO0L"/>
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="col-md-9 br-3px">

            <!-- 操作 card, 包括分享问题解决方案以及写博客-->
            <div class="card marginbottom-10px">
                <div class="card-body">
                    <a th:href="@{/question/write}" class="share-question-a">
                        <button class="share-question-btn">
                            <i class="fa fa-question-circle-o share-question-image" aria-hidden="true"></i>
                            分享问题
                        </button>
                    </a>

                    <a th:href="@{/article/write}" class="write-article-a">
                        <button class="write-article-btn">
                            <i class="fa fa-pencil-square-o write-article-image" aria-hidden="true"></i>
                            写博客
                        </button>
                    </a>
                </div>
            </div>

            <div th:each="item : ${response.data}" class="card marginbottom-10px">
                <!-- 问题 -->
                <div th:if="${item.type == 0}" class="card-body">
                    <div class="item-author-info">
                        <a th:href="@{'/user/' + ${item.createUserId}}"><img class="avatar" th:src="${item.createUserAvatar}"></a>
                        <a th:href="@{'/user/' + ${item.createUserId}}" class="author-name" th:utext="${item.createUserName}">AllenJiang</a>
                        <span class="author-introduce">&nbsp;,&nbsp;&nbsp;[[${item.createUserIntroduction}]]</span>
                    </div>
                    <div class="item-content">
                        <h2 class="item-title"><a th:href="@{'/question/' + ${item.id}}" th:text="${item.titleCn}">30岁之前，请逼自己成为这种人</a></h2>
                        <div class="item-snapshoot">
                            <div class="item-snapshoot-content" th:utext="${item.shortContent}">
                                我记得当年大学时一件事，有四个外面来的小混混无聊至极，跑到学校的健身房 “混社会”，霸占着器材又不拉屎。来了一个欧美的留学生，不太会中文，就跟那些人杠上了。混混们操着一口不知道哪里的脏话就要开打，然后…
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 文章 -->
                <div th:if="${item.type == 1}" class="card-body">
                    <div class="item-author-info">
                        <a th:href="@{'/user/' + ${item.createUserId}}"><img class="avatar" th:src="${item.createUserAvatar}"></a>
                        <a th:href="@{'/user/' + ${item.createUserId}}" class="author-name" th:utext="${item.createUserName}">AllenJiang</a>
                        <span class="author-introduce">&nbsp;,&nbsp;&nbsp;[[${item.createUserIntroduction}]]</span>
                    </div>
                    <div class="item-content">
                        <h2 class="item-title"><a th:href="@{'/article/' + ${item.id}}" th:utext="${item.titleCn}">30岁之前，请逼自己成为这种人</a></h2>
                        <div class="item-snapshoot">
                            <img th:if="${item.titleImage != ''}" class="float-left item-snapshoot-img" th:src="${item.titleImage}">
                            <div class="item-snapshoot-content" th:utext="${item.shortContent}">
                                我记得当年大学时一件事，有四个外面来的小混混无聊至极，跑到学校的健身房 “混社会”，
                                我记得当年大学时一件事，有四个外面来的小混混无聊至极，跑到学校的健身房 “混社会”，
                                霸占着器材又不拉屎。来了一个欧美的留学生，不太会中文，就跟那些人杠上了。
                                混混们操着一口不知道哪里的脏话就要开打，然后…
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card marginbottom-10px">
                <div class="card-body paddingtop0 paddingbottom0">
                    <a th:href="@{'/home?qLimitTime=' + ${response.qLimitTime} + '&aLimitTime=' + ${response.aLimitTime}}" class="pull-up-loading-more">点击加载下一页</a>
                </div>
            </div>

        </div>

        <!-- 右边栏 -->
        <div class="col-md-3 br-3px">
            <!-- 问题方案总数 -->
            <!--<div class="card">-->
                <!--<div class="card-header m-card-header">-->
                    <!--<div class="card-title">问题总数</div>-->
                    <!--&lt;!&ndash;<span class="pull-right">更多>></span>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="card-body text-gray">-->
                    <!--Exception 社区目前共维护了 <strong class="gray-dark">[[${response.totalCount}]]</strong> 个问题场景下的解决方案-->
                <!--</div>-->
            <!--</div>-->

            <!-- 热门标签 -->
            <div id="hot-tag-card" class="card" style="display: none;">
                <div class="card-header m-card-header">
                    <div class="card-title">热门标签</div>
                    <!--<span class="pull-right">更多>></span>-->
                </div>
                <div class="card-body hot-tag-card-body">
                    <ul id="hot-tag-list" class="list-group list-group-flush">
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center">-->
                        <!--<span class="badge badge-secondary">android</span>-->
                        <!--<span class="badge badge-light badge-pill">14</span>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>

            <!-- 热门问题-->
            <div id="hot-question-card" class="card margintop-10px" style="display: none;">
                <div class="card-header m-card-header">
                    <div class="card-title">热门问题</div>
                </div>
                <div class="card-body hot-question-card-body" id="hot-question-list">
                    <!--<div class="hot-question-item">-->
                        <!--<a class="fs-14px blue-a" href="#">bootstrap 如何实现滑动页面时，右边栏保持位置固定，类似知乎首页</a>-->
                            <!--&nbsp;123&nbsp;次阅读-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <!-- 回到顶部 -->
    <button th:replace="fragment/common :: backToTop"></button>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:replace="fragment/common-js :: ajaxLoadHotTags"></script>
<script th:replace="fragment/common-js :: baiduLinkPush"></script>
<script th:replace="fragment/common-js :: 360LinkPush"></script>

<script th:inline="javascript">
    $(document).ready(function() {
        // // 分页
        // $('#pagination').twbsPagination({
        //     totalPages: [[${response.totalPage}]],
        //     visiblePages: 7,
        //     startPage: [[${response.currentPage}]],
        //     initiateStartPageClick: false,
        //     first: '首页',
        //     prev: '上一页',
        //     next: '下一页',
        //     last: '尾页',
        //     onPageClick: function (event, pageIndex) {
        //         // $('#page-content').text('Page ' + page);
        //         location.href = "/home?pageIndex=" + pageIndex;
        //     }
        // });

        // hot questions
        $('#hot-question-card').show();
        $.ajax({
            type: "GET",
            async: true,
            url: "/home/hot/question/list",
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, question) {
                        html += "<div class=\"hot-question-item\">";
                        html += "<a class=\"fs-14px blue-a\" href='/question/" + question.id + "'>" + question.titleCn + "</a>";
                        html += "&nbsp;&nbsp;&nbsp;" + question.viewNum + "&nbsp;次阅读";
                        html += "</div>";
                    });
                    $('#hot-question-list').html(html);
                }
            }
        });
    });

</script>
</html>