<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>首页 - Exception开发者社区</title>

    <meta name="keywords" content="开发者社区,开发者分享社区,开发者问题,开发者解决方案,开发者编程知识">
    <meta name="description" content="Exception 开发者问题解决方案分享社区 - 开发者可以学习,分享自己平时自己工作中各种场景下遇到的问题,以及解决方案,编程知识">

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="baidu-site-verification" content="x0xb4LGIXQ" />
    <meta name="google-site-verification" content="bZHTltjjXzU9m2UlCxmxYPuPu7OxRlWZH2cSwP0HhfA" />
    <meta name="msvalidate.01" content="66FB71AC88C4B58ECF64451775EC46DD" />
    <meta name="360-site-verification" content="44f08208659258e5240c7d07274e70d9" />
    <meta name="sogou_site_verification" content="Xpc2HrRO0L"/>

    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="col-md-9 br-3px">
            <div class="card marginbottom-10px">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a id="new" class="nav-link gray-nav-link fs-14px" th:href="@{/home}">最新</a>
                        </li>
                        <li class="nav-item">
                            <a id="hot" class="nav-link gray-nav-link fs-14px" th:href="@{/home?tab=hot}">最热</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body padding0">
                    <div class="list-group">
                        <div th:each="question : ${response.data}" href="#" class="list-group-item list-group-item-action flex-column align-items-start home-list-group-item question-item">
                            <div class="media-left marginleft-5px">
                                <a th:href="@{'/user/' + ${question.createUserId}}">
                                    <img th:src="${question.createUserAvatar}" class="rounded media-img">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="d-flex w-100 justify-content-between">
                                    <h2 class="mb-1 home-question-title"><a th:href="@{'/question/' + ${question.id}}" th:text="${question.titleCn}" class="gray-dark"></a></h2>
                                </div>
                                <!--<small>Donec id elit non mi porta.</small>-->
                                <div class="margintop-2px">
                                    <a th:each="tag : ${question.tags}"
                                       th:utext="${tag.tagName}"
                                       th:href="@{'/question/tag/' + ${tag.tagId}}"
                                       class="badge badge-light-blue marginright-5px">android</a>
                                    <span class="text-gray fs-12px" style="margin-left: -2px;">
                                        •&nbsp;
                                        <a th:href="@{'/user/' + ${question.createUserId}}" class="gray-a fs-12px">
                                            <strong th:utext="${question.createUserName}"></strong>
                                        </a>
                                        &nbsp;•&nbsp;[[${question.beforeTimeStr}]]
                                        </span>
                                </div>
                                <!--其他信息-->
                            </div>
                        </div>
                    </div>

                    <!-- 分页 -->
                    <div class="margintop-30px marginbottom-30px">
                        <nav aria-label="Page navigation example">
                            <ul id="pagination" class="pagination justify-content-center">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右边栏 -->
        <div class="col-md-3 br-3px">
            <!-- 问题方案总数 -->
            <div class="card">
                <div class="card-header m-card-header">
                    <div class="card-title">问题总数</div>
                    <!--<span class="pull-right">更多>></span>-->
                </div>
                <div class="card-body text-gray">
                    Exception 社区目前共维护了 <strong class="gray-dark">[[${response.totalCount}]]</strong> 个问题场景下的解决方案
                </div>
            </div>

            <!-- 热门标签 -->
            <div id="hot-tag-card" class="card margintop-10px" style="display: none;">
                <div class="card-header m-card-header">
                    <div class="card-title">热门标签</div>
                    <!--<span class="pull-right">更多>></span>-->
                </div>
                <div class="card-body hot-tag-card-body">
                    <ul id="hot-tag-list" class="list-group list-group-flush">
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center">-->
                        <!--<span class="badge badge-secondary">android</span>-->
                        <!--<span class="badge badge-light badge-pill">14</span>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>

            <!-- 热门问题-->
            <div id="hot-question-card" class="card margintop-10px" style="display: none;">
                <div class="card-header m-card-header">
                    <div class="card-title">热门问题</div>
                </div>
                <div class="card-body hot-question-card-body" id="hot-question-list">
                    <!--<div class="hot-question-item">-->
                        <!--<a class="fs-14px blue-a" href="#">bootstrap 如何实现滑动页面时，右边栏保持位置固定，类似知乎首页</a>-->
                            <!--&nbsp;123&nbsp;次阅读-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <!-- 回到顶部 -->
    <button th:replace="fragment/common :: backToTop"></button>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:replace="fragment/common-js :: baiduLinkPush"></script>
<script th:replace="fragment/common-js :: 360LinkPush"></script>

<script th:inline="javascript">
    $(document).ready(function() {
        // 分页
        $('#pagination').twbsPagination({
            totalPages: [[${response.totalPage}]],
            visiblePages: 7,
            startPage: [[${response.currentPage}]],
            initiateStartPageClick: false,
            first: '首页',
            prev: '上一页',
            next: '下一页',
            last: '尾页',
            onPageClick: function (event, pageIndex) {
                // $('#page-content').text('Page ' + page);
                location.href = "/home?pageIndex=" + pageIndex + "&tab=" + [[${tab}]];
            }
        });

        // 右边栏数据，异步加载
        // hot tags
        $('#hot-tag-card').show();
        $.ajax({
            type: "GET",
            async: true,
            url: "/home/hot/tag/list",
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, tag) {
                        html += "<li class=\"list-group-item d-flex justify-content-between align-items-center border0 padding0\">";
                        html += "<a href=\"/question/tag/" + tag.tagId + "\" class=\"badge badge-light-blue\">" + tag.tagName + "</a>";
                        html += "<span class=\"badge badge-light badge-pill text-gray\">" + tag.questionCount + "</span>";
                        html += "</li>"
                    });
                    $('#hot-tag-list').html(html);
                }
            }
        });

        // hot questions
        $('#hot-question-card').show();
        $.ajax({
            type: "GET",
            async: true,
            url: "/home/hot/question/list",
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, question) {
                        html += "<div class=\"hot-question-item\">";
                        html += "<a class=\"fs-14px blue-a\" href='/question/" + question.id + "'>" + question.titleCn + "</a>";
                        html += "&nbsp;&nbsp;&nbsp;" + question.viewNum + "&nbsp;次阅读";
                        html += "</div>";
                    });
                    $('#hot-question-list').html(html);
                }
            }
        });
    });

</script>
</html>