<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>关于本站 - Exception开发者社区</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/web/about.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="card about-card">
            <div class="card-header m-card-header">
                <div class="card-title">关于本站</div>
            </div>
            <div class="card-body">

                <p>Exception 社区是一个程序员问题解决方案分享的社区, 开发者可以在这里学习, 分享自己平时自己工作中各种场景下遇到的问题解决方案, 编程知识 ！！！</p>
                <p>目前本站缺 <code style="font-size: 15px;">前端攻城狮</code>，如果您愿意在业余时间对开源做贡献，并对本站感兴趣的话，欢迎您的加入 ！！！</p>
                <blockquote>
                    <p>Note：由于本站目前还在内测阶段，暂时未开放注册功能，您可以通过下面的联系方式联系我，我会给您开内部测试账号使用哦。</p>
                    <p>另外：如果您对本站有啥好的建议，也欢迎批评指正 ！！！</p>
                </blockquote>
                <p>联系方式：</p>
                <ul>
                    <li><i>QQ: 871361652</i></li>
                    <li>
                        <i>邮箱: weiwosuoai1991@gmail.com</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<!--<script th:replace="fragment/common-js :: nprogress"></script>-->

</html>