<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title th:text="${response.title} + ' - ' + ${response.chapterTitle} + ' | Exception 教程'">title</title>
    <meta name="keywords" th:content="${response.chapterSEOKeywords}">
    <meta name="description" th:content="${response.chapterSEODescription}">

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- commoncBootstrap CSS -->
    <!--<link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.css}">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/common/bootstrap-override.css}">
    <link rel="stylesheet" th:href="@{/css/common/base.css}">
    <link rel="stylesheet" th:href="@{/plugins/highlight/styles/github-gist.css}">
    <link rel="stylesheet" th:href="@{/plugins/zoomify/zoomify.css}">
    <!-- toc -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-toc/bootstrap-toc.css}">
    <link rel="stylesheet" th:href="@{/css/course/course-detail.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body style="background: #fff;">
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 col-md-3 col-xl-2">
            <div id="list-example" class="sidebar">
                <div class="sidebar-header" th:utext="${response.title}">Spring boot 整合各种技术栈教程系列</div>
                <ul class="catalog">
                    <li th:each="item : ${response.chapters}">
                        <a th:if="${item.isSelected == true}" class="sidebar-link selected"
                           th:classappend="${item.isSecondary == true} ? 'secondary_title' : ''"
                           th:href="@{'/course/' + ${response.id} + '/chapter/' + ${item.id}}"
                           th:utext="${item.title}">章节标题</a>
                        <a th:if="${item.isSelected == false}" class="sidebar-link"
                           th:classappend="${item.isSecondary == true} ? 'secondary_title' : ''"
                           th:href="@{'/course/' + ${response.id} + '/chapter/' + ${item.id}}"
                           th:utext="${item.title}">章节标题</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 内容展示区 -->
        <main role="main" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <article data-spy="scroll" data-target="#list-example" data-offset="0"
                 class="course-content">
                <h1 class="chapter-title" th:utext="${response.chapterTitle}">章节标题</h1>
                <a th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username != null}"
                   th:href="@{'/course/' + ${response.id} + '/chapter/' + ${response.chapterId} + '/edit'}">编辑</a>
                <a th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username != null}"
                   th:href="@{'/course/' + ${response.id} + '/chapter/' + ${response.chapterId} + '/pushToBaidu'}">推送百度</a>
                <div th:utext="${response.contentHtml}"></div>
                <!-- 微信公众号 -->
                <div class="wechat-gzh">
                    <h2>欢迎关注公众号: 小哈学Java</h2>
                    <p align="center">
                        <img src="https://exception-image-bucket.oss-cn-hangzhou.aliyuncs.com/154874842150997" alt="" class="zoomify">
                        扫码关注有惊喜哦
                    </p>
                </div>
            </article>
            <!-- footer -->
            <div class="footer bg-white margintop-30px">
                <div class="container copy-right">
                    Copy right © 2017-2019
                    <strong><a href="//www.exception.site/">Exception 教程网</a></strong>&nbsp;
                    <strong><a href="//www.exception.site/">www.exception.site</a></strong>
                    &nbsp;All Rights Reserved. 备案号: 皖ICP备18011040号
                </div>
            </div>
        </main>
        <!-- 右边栏 -->
        <div class="d-none d-xl-block col-xl-2 bd-toc">
            <!-- 目录 -->
            <nav id="toc" class="sticky-top toc"></nav>
        </div>

    </div>
</div>
<!-- 回到顶部 -->
<button th:replace="fragment/common :: backToTop"></button>
<!-- 登录 modal -->
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.13.1/highlight.min.js"></script>
<!-- toc -->
<script th:src="@{/plugins/bootstrap-toc/bootstrap-toc.min.js}"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:src="@{/plugins/zoomify/zoomify.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:replace="fragment/common-js :: baiduLinkPush"></script>
<script th:replace="fragment/common-js :: 360LinkPush"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        var navSelector = "#toc";
        var $myNav = $(navSelector);
        Toc.init($myNav);
        $("body").scrollspy({
            target: navSelector
        });

        // 代码高亮
        hljs.initHighlightingOnLoad();
        // $("pre").addClass("prettyprint");
        // prettyPrint();

        // 图片放大
        $('p img').zoomify();
    });


</script>
</html>