<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title th:text="${response.chapterTitle} + ' | Exception 教程'">title</title>
    <meta name="keywords" th:content="${response.chapterSEOKeywords}">
    <meta name="description" th:content="${response.chapterTitle} + ' ' + ${response.chapterSEODescription}">
    <link rel="canonical" th:href="'http://www.exception.site/' + ${response.enTitle} + '/' + ${response.chapterEnTitle}" />

    <link rel="icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- commoncBootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/static/css/common/bootstrap-override.css}">
    <link rel="stylesheet" th:href="@{/static/css/common/base.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/highlight/styles/github-gist.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/zoomify/zoomify.css}">
    <!-- toc -->
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-toc/bootstrap-toc.css}">
    <link rel="stylesheet" th:href="@{/static/css/course/course-detail.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<main class="container main-content">
    <div class="row">
        <!-- 章节目录 -->
        <div class="col-12 col-md-3 col-xl-2">
            <div class="sidebar-container">
                <div class="sidebar-header">[[${response.title}]]</div>
                <ul class="catalog">
                    <li th:each="item : ${response.chapters}"
                        th:classappend="${item.isHeader == true} ? 'heading' : ''">
                        <span th:if="${item.isHeader == true}" th:utext="${item.title}">header</span>
                        <a th:if="${item.isSelected == true and item.isHeader == false}"
                           class="sidebar-link selected"
                           th:classappend="${item.isSecondary == true} ? 'secondary_title' : ''"
                           th:href="@{'/' + ${response.enTitle} + '/' + ${item.enTitle}}"
                           th:utext="${item.title}"
                           th:title="${item.title}">章节标题</a>
                        <a th:if="${item.isSelected == false and item.isHeader == false}"
                           class="sidebar-link"
                           th:classappend="${item.isSecondary == true} ? 'secondary_title' : ''"
                           th:href="@{'/' + ${response.enTitle} + '/' + ${item.enTitle}}"
                           th:utext="${item.title}"
                           th:title="${item.title}">章节标题</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 内容展示区 -->
        <div class="col-12 col-md-9 col-xl-8 bd-content">
            <article data-spy="scroll" data-target="#list-example" data-offset="0"
                 class="course-content card">
                <h1 class="chapter-title" th:utext="${response.chapterTitle}">章节标题</h1>
                <div class="article-copyright">本文为 Exception 教程网原创，转载请注明出处: http://www.exception.site/[[${response.enTitle}]]/[[${response.chapterEnTitle}]]</div>
                <a th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username != null}"
                   th:href="@{'/course/' + ${response.enTitle} + '/' + ${response.chapterEnTitle} + '/edit'}">编辑</a>
                <a th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username != null}"
                   th:href="@{'/course/' + ${response.enTitle} + '/' + ${response.chapterEnTitle} + '/pushToBaidu'}">推送百度</a>
                <div th:utext="${response.contentHtml}"></div>
                <!-- 微信公众号 -->
                <div class="wechat-gzh">
                    <h2>欢迎关注公众号: 小哈学Java</h2>
                    <p align="center">
                        <img src="https://exception-image-bucket.oss-cn-hangzhou.aliyuncs.com/154874842150997" alt="" class="zoomify">
                        扫码关注有惊喜哦
                    </p>
                </div>
            </article>
        </div>
        <!-- 右边栏 -->
        <div class="d-none d-xl-block col-xl-2 bd-toc">
            <!-- 目录 -->
            <nav id="toc" class="sticky-top toc"></nav>
        </div>
    </div>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<!-- 回到顶部 -->
<button th:replace="fragment/common :: backToTop"></button>
<!-- 登录 modal -->
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script src="https://lib.baomitu.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://lib.baomitu.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://lib.baomitu.com/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/static/js/jquery.toTop.min.js}"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.13.1/highlight.min.js"></script>
<!-- toc -->
<script th:src="@{/static/plugins/bootstrap-toc/bootstrap-toc.min.js}"></script>
<script th:src="@{/static/plugins/zoomify/zoomify.js}"></script>
<script th:src="@{/static/js/jquery.sticky.js}"></script>
<script th:src="@{/static/plugins/layer/layer.js}"></script>
<script th:src="@{/static/js/course/course-detail.js}"></script>
</html>