<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>教程列表 | Exception 教程</title>
    <!-- TODO -->
    <meta name="keywords" content="开发者社区,开发者分享社区,开发者博客,开发者问题,开发者解决方案,开发者编程知识">
    <meta name="description" content="Exception 开发者分享社区 - 开发者可以学习,写博客,分享自己平时自己工作中各种场景下遇到的问题,以及解决方案,编程知识">

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- commoncBootstrap CSS -->
    <!--<link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.css}">-->
    <link rel="stylesheet" href="https://lib.baomitu.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/common/bootstrap-override.css}">
    <link rel="stylesheet" th:href="@{/css/common/base.css}">
    <link rel="stylesheet" th:href="@{/css/course/course-list.css}">
    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="col-md-12 br-3px">

            <div class="grid-layout">

                <div class="grid-layout-cell" th:each="item : ${response.data}">
                    <a th:href="@{'/course/' + ${item.id}}" class="course-container-a">
                        <div class="card">
                            <img class="card-img-top" th:src="${item.titleImage}">
                            <div class="card-body">
                                <h3 class="document-card-title course-title" th:utext="${item.title}">
                                    教程标题
                                </h3>
                                <p class="document-card-text course-summary" th:utext="${item.summary}">摘要</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!-- 回到顶部 -->
    <button th:replace="fragment/common :: backToTop"></button>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:replace="fragment/common-js :: ajaxLoadHotTags"></script>
<script th:replace="fragment/common-js :: baiduLinkPush"></script>
<script th:replace="fragment/common-js :: 360LinkPush"></script>

<script th:inline="javascript">
    $(document).ready(function () {
    });

</script>
</html>