<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title th:text="${response.title} + ' ' + ${response.chapterTitle} + ' | Exception 教程'">title</title>
    <meta name="description" th:content="${response.chapterSEODescription}">
    <meta name="keywords" th:content="${response.chapterSEOKeywords}">

    <!-- og start -->
    <!--<meta property="og:locale" content="zh_CN">-->
    <!--<meta property="og:type" content="article">-->
    <!--<meta property="og:title" th:content="${response.chapterTitle} + ' - Exception 博客'">-->
    <!--<meta property="og:description" th:content="${response.chapterTitle}">-->
    <!--<meta property="og:url" th:content="'https://www.exception.site/article/' + ${response.id}">-->
    <!--<meta property="og:site_name" content="Exception">-->
    <!--<meta property="article:published_time" th:content="${response.createTimeStr}">-->
    <!-- og end -->

    <!-- twitter start -->
    <!--<meta name="twitter:card" content="summary">-->
    <!--&lt;!&ndash;<meta name="twitter:description" th:content="${response.seoDescription}">&ndash;&gt;-->
    <!--&lt;!&ndash;<meta name="twitter:title" th:content="${response.title} + ' - Exception 博客'">&ndash;&gt;-->
    <!--<meta name="twitter:site" content="@Exception">-->
    <!--<meta name="twitter:creator" content="@Exception">-->
    <!-- twitter end -->

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- commoncBootstrap CSS -->
    <!--<link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.css}">-->
    <link rel="stylesheet" href="https://lib.baomitu.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/common/bootstrap-override.css}">
    <link rel="stylesheet" th:href="@{/css/common/base.css}">
    <link rel="stylesheet" th:href="@{/plugins/highlight/styles/androidstudio.css}">
    <link rel="stylesheet" th:href="@{/plugins/zoomify/zoomify.css}">
    <link rel="stylesheet" th:href="@{/css/article/article-detail.css}">
    <link rel="stylesheet" th:href="@{/css/course/course-detail.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body style="background: #fff;">
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container-fluid main-content">
    <div class="row">
        <div class="col-md-3">
            <div id="list-example" class="sidebar">
                <div class="sidebar-header" th:utext="${response.title}">Spring boot 整合各种技术栈教程系列</div>
                <ul class="catalog">
                    <li th:each="item : ${response.chapters}">
                        <a th:if="${item.isSelected == true}" class="sidebar-link selected"
                           th:classappend="${item.isSecondary == true} ? 'secondary_title' : ''"
                           th:href="@{'/course/' + ${response.id} + '/chapter/' + ${item.id}}"
                           th:utext="${item.title}">章节标题</a>
                        <a th:if="${item.isSelected == false}" class="sidebar-link"
                           th:classappend="${item.isSecondary == true} ? 'secondary_title' : ''"
                           th:href="@{'/course/' + ${response.id} + '/chapter/' + ${item.id}}"
                           th:utext="${item.title}">章节标题</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div data-spy="scroll" data-target="#list-example" data-offset="0"
                 class="course-content">
                <h1 class="chapter-title" th:utext="${response.chapterTitle}">章节标题</h1>
                <a th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username != null}"
                   th:href="@{'/course/' + ${response.id} + '/chapter/' + ${response.chapterId} + '/edit'}">edit</a>
                <a th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username != null}"
                   th:href="@{'/course/' + ${response.id} + '/chapter/' + ${response.chapterId} + '/pushToBaidu'}">pushToBaidu</a>
                <div th:utext="${response.contentHtml}"></div>
            </div>
        </div>

    </div>
    <!-- 回到顶部 -->
    <button th:replace="fragment/common :: backToTop"></button>
</main>
<!-- footer -->
<!--<footer th:replace="fragment/common :: footer"></footer>-->
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script src="https://lib.baomitu.com/highlight.js/9.12.0/highlight.min.js"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:src="@{/plugins/zoomify/zoomify.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:replace="fragment/common-js :: baiduLinkPush"></script>
<script th:replace="fragment/common-js :: 360LinkPush"></script>

<script th:inline="javascript">

    $(document).ready(function () {
        // 代码高亮
        hljs.initHighlightingOnLoad();
        // $("pre").addClass("prettyprint");
        // prettyPrint();

        // 图片放大
        $('p img').zoomify();
    });

</script>
</html>