<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>教程列表 | Exception 教程</title>
    <meta name="keywords" content="程序员,教程,学习,Java,MySQL,SQL,并发">
    <meta name="description" content="Exception 教程（www.exception.site）提供各类编程技术系列教程,让您能够学习并提高自己的编程技术 ..">

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://lib.baomitu.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/common/bootstrap-override.css}">
    <link rel="stylesheet" th:href="@{/css/common/base.css}">
    <link rel="stylesheet" th:href="@{/css/course/course-list.css}">
    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <!-- 左边栏 -->
        <div class="col-md-8 br-3px">
            <div class="grid-layout">
                <div class="grid-layout-cell" th:each="item : ${response.data}">
                    <a th:href="@{'/' + ${item.enTitle}}" class="course-container-a">
                        <div class="card">
                            <img class="card-img-top title-image" th:src="${item.titleImage}">
                            <div class="card-body">
                                <h3 class="document-card-title course-title" th:utext="${item.title}">
                                    教程标题
                                </h3>
                                <p class="document-card-text course-summary" th:utext="${item.summary}">摘要</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 右边栏 -->
        <div class="col-md-8">

        </div>
    </div>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<!-- 回到顶部 -->
<button th:replace="fragment/common :: backToTop"></button>
<!-- 登录 model -->
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:replace="fragment/common-js :: ajaxLoadHotTags"></script>
<script th:replace="fragment/common-js :: baiduLinkPush"></script>
<script th:replace="fragment/common-js :: 360LinkPush"></script>

</html>