<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>优选博文 - Exception 开发者社区</title>

    <meta name="keywords" content="开发者社区,开发者分享社区,开发者博客,开发者问题,开发者解决方案,开发者编程知识">
    <meta name="description" content="Exception 开发者分享社区 - 开发者可以学习,写博客,分享自己平时自己工作中各种场景下遇到的问题,以及解决方案,编程知识">

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- commoncBootstrap CSS -->
    <!--<link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.css}">-->
    <link rel="stylesheet" href="https://lib.baomitu.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/common/bootstrap-override.css}">
    <link rel="stylesheet" th:href="@{/css/common/base.css}">
    <link rel="stylesheet" th:href="@{/css/article/recommended-article-list.css}">
    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="col-md-9 br-3px">

            <!--<div th:each="item : ${response.data}" class="card marginbottom-10px">-->
            <div class="card marginbottom-10px">

                <!-- 文章 -->
                <div th:each="item : ${response.data}" class="card-body m-card-body">
                    <div class="item-content">
                        <div class="left-container">
                            <img class="float-right cover" th:src="${item.cover}">
                        </div>
                        <div class="right-container">
                            <h2 class="item-title"><a th:href="@{'/recommended/article/' + ${item.id}}" th:utext="${item.title}">InnoDB，快照读，在RR和RC下有何差异？</a></h2>
                            <p class="item-desc" th:utext="${item.summary}">埋的坑要填：RR，RC，快照读的玩法哪里不同。</p>
                            <p class="item-extra-info" th:text="${item.publishTime}">2018年9月3日</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="card marginbottom-10px">
                <div class="card-body paddingtop0 paddingbottom0">
                    <a th:href="@{'/recommended/article?pageIndex=' + ${response.pageIndex + 1}}"
                       class="pull-up-loading-more">点击加载下一页</a>
                </div>
            </div>

        </div>

        <!-- 右边栏 -->
        <div class="col-md-3 br-3px">

            <!-- 热门标签 -->
            <div id="hot-tag-card" class="card" style="display: none;">
                <div class="card-header m-card-header">
                    <div class="card-title">热门标签</div>
                    <!--<span class="pull-right">更多>></span>-->
                </div>
                <div class="card-body hot-tag-card-body">
                    <ul id="hot-tag-list" class="list-group list-group-flush">
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center">-->
                        <!--<span class="badge badge-secondary">android</span>-->
                        <!--<span class="badge badge-light badge-pill">14</span>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 回到顶部 -->
    <button th:replace="fragment/common :: backToTop"></button>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:replace="fragment/common-js :: ajaxLoadHotTags"></script>
<script th:replace="fragment/common-js :: baiduLinkPush"></script>
<script th:replace="fragment/common-js :: 360LinkPush"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        // // 分页
        // $('#pagination').twbsPagination({
        //     totalPages: [[${response.totalPage}]],
        //     visiblePages: 7,
        //     startPage: [[${response.currentPage}]],
        //     initiateStartPageClick: false,
        //     first: '首页',
        //     prev: '上一页',
        //     next: '下一页',
        //     last: '尾页',
        //     onPageClick: function (event, pageIndex) {
        //         // $('#page-content').text('Page ' + page);
        //         location.href = "/home?pageIndex=" + pageIndex;
        //     }
        // });
    });

</script>
</html>