<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title th:text="${response.title} + ' - Exception 优选博文'">title</title>
    <meta name="keywords" th:content="${response.title}">
    <meta name="description" th:content="${response.seoDescription}">

    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/plugins/highlight/styles/androidstudio.css}">
    <link rel="stylesheet" th:href="@{/plugins/zoomify/zoomify.css}">
    <link rel="stylesheet" th:href="@{/css/article/recommended-article-detail.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
    <!-- google 统计 -->
    <script th:replace="fragment/common-js :: gtagjs"></script>
    <script th:replace="fragment/common-js :: googleStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <!--<div class="col-md-3"></div>-->
        <div class="col-md-9">
            <!-- 优选博文展示区 -->


            <div class="card">

                <div class="card-body recommended-article-card-body">
                    <article class="article-container">
                        <div class="article-header">
                            <h1 class="article-title" th:text="${response.title}">博客标题</h1>
                            <div class="article-extra-info">
                                <blockquote>
                                    <p>文章出自微信公众号
                                        &nbsp;:&nbsp;[[${response.author}]]
                                        &nbsp;[[${response.gzh}]]
                                        &nbsp;&nbsp;&nbsp;[[${response.publishTime}]]</p>
                                </blockquote>
                            </div>
                        </div>

                        <!-- 文章正文 -->
                        <div>
                            <div class="article-content" th:utext="${response.content}">
                                contentHtml
                            </div>
                        </div>

                    </article>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div id="about-recommended-article-list-card" class="card" style="display: none;">
                <div class="card-header m-card-header">
                    <div class="card-title">相关文章</div>
                </div>
                <div class="card-body" id="about-recommended-article-list">
                    <!--<div class="about-recommended-article-item">-->
                        <!--<a class="fs-14px blue-a" href="#">bootstrap 如何实现滑动页面时，右边栏保持位置固定，类似知乎首页</a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>
    <!-- 回到顶部 -->
    <button th:replace="fragment/common :: backToTop"></button>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script src="https://lib.baomitu.com/highlight.js/9.12.0/highlight.min.js"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:src="@{/plugins/zoomify/zoomify.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:replace="fragment/common-js :: baiduLinkPush"></script>
<script th:replace="fragment/common-js :: 360LinkPush"></script>

<script th:inline="javascript">

    $(document).ready(function () {
        // 图片放大
        $(' img').zoomify();

        var articleTitle = [[${response.title}]];
        var articleId = [[${response.id}]];

        // 右边栏相似问题，异步加载
        $.ajax({
            type: "GET",
            async: true,
            url: "/search/recommended/article/about?id=" + articleId + "&title=" + articleTitle,
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    $('#about-recommended-article-list-card').show();
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, article) {
                        html += "<div class=\"about-recommended-article-item\">";
                        html += "<a class='fs-14px blue-a' href='/recommended/article/" + article.id + "'>" + article.title + "</a>";
                        html += "</div>";
                    });
                    $('#about-recommended-article-list').html(html);
                }
            }
        });

        // 相关文章栏滑动固定
        $("#about-recommended-article-list-card").sticky({
            topSpacing: 83,
            bottomSpacing: 153
        });
    });



</script>
</html>