<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title th:text="${response.titleCn} + ' - Exception 开发者社区'">title</title>
    <meta name="description" th:content="${response.seoDescription}">
    <meta name="keywords" th:content="${response.seoKeywords}">

    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/plugins/highlight/styles/github.css}">
    <link rel="stylesheet" th:href="@{/plugins/zoomify/zoomify.css}">
    <link rel="stylesheet" th:href="@{/css/question/question-detail.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="col-md-9 br-3px">
            <!-- 问题展示区 -->
            <div class="card question-card">
                <div class="card-body">
                    <div class="question">
                        <h1 class="question-title" th:text="${response.titleCn}"></h1>

                        <div class="question-desc margintop-20px" th:utext="${response.questionDescHtml}"></div>

                        <div class="m-fade marginbottom-1rem fs-14px">
                            <a href="#" class="tooltip-a" data-toggle="tooltip" data-placement="top"
                               th:title="'发布于 ' + ${response.createTimeStr}">
                                发布于&nbsp;<span th:text="${response.createDateStr}">2018-06-09</span>
                            </a>
                        </div>

                        <div class="question-tags marginbottom-1rem">
                            <a th:each="tag : ${response.tags}" th:text="${tag.tagName}" href="#"
                               class="badge badge-secondary marginright-5px"></a>
                        </div>

                        <div class="question-footer">
                            <!-- 点赞 -->
                            <button id="like-this-question" type="button" class="btn btn-primary vote-button fs-14px"
                                    th:if="${response.isCurrentUserVoteUp == false}"
                                    th:onclick="'javascript:likeThisQuestion(1);'"
                                    data-toggle="modal">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                &nbsp;[[${response.voteUp}]]&nbsp;次赞
                            </button>

                            <button id="unlike-this-question" type="button" class="btn btn-primary vote-button-active fs-14px"
                                    th:if="${response.isCurrentUserVoteUp == true}"
                                    th:onclick="'javascript:likeThisQuestion(-1);'"
                                    data-toggle="modal">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                &nbsp;[[${response.voteUp}]]&nbsp;次赞
                            </button>

                            <!-- 被浏览次数 -->
                            <span class="gray marginleft-15px fs-14px" href="#">
                                <!--<i class="fa fa-heart-o"></i>&nbsp;&nbsp;90&nbsp;次点赞-->
                                <i class="fa fa-eye"></i>&nbsp;[[${response.viewNum}]]&nbsp;次浏览
                            </span>

                            <!-- 改进 -->
                            <a th:href="@{'/question/' + ${response.id} + '/edit'}"
                               class="gray-a marginleft-15px fs-14px">
                                <i class="fa fa-edit"></i>&nbsp;改进&nbsp;
                            </a>

                            <div class="contributor-avatars-container marginleft-15px border-left">
                                <ul class="contributor-avatars">
                                    <!-- 问题的发布者 -->
                                    <li>
                                        <a th:href="@{'/user/' + ${response.createUserId}}">
                                            <img class="contributor-avatar" th:src="${response.createUserAvatar}"
                                                 data-toggle="tooltip" data-placement="top"
                                                 th:title="'发布 by ' + ${response.createUserName}"/>
                                        </a>
                                    </li>
                                    <!-- 问题的最新编辑者 -->
                                    <li th:if="${response.latestEditorUserId != null && response.latestEditorUserId != 0}">
                                        <a th:href="@{'/user/' + ${response.latestEditorUserId}}">
                                            <img class="contributor-avatar" th:src="${response.latestEditorUserAvatar}"
                                                 data-toggle="tooltip" data-placement="top"
                                                 th:title="'最新编辑 by ' + ${response.latestEditorUserName}"/>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- 问题方案 list -->
            <div class="answers margintop-10px marginbottom-10px">
                <div class="card">
                    <div class="card-header m-card-header">
                        <h4 class="card-title">[[${response.answersCount}]]&nbsp;个解决方案</h4>
                    </div>

                    <div class="card-body answer-card-body">
                        <div class="answer-list-item" th:each="answer : ${response.answers}">
                            <!-- 贡献者信息 -->
                            <div class="answer-item-meta">
                                <div class="author-info">
                                    <div class="media-left">
                                        <a th:href="@{'/user/' + ${answer.user.id}}">
                                            <img th:src="${answer.user.avatar}"
                                                 class="rounded media-img answer-item-user-img" style="width: 42px;">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="d-flex w-100 justify-content-between">
                                            <strong><a th:href="@{'/user/' + ${answer.user.id}}" class="gray-dark"
                                                       th:text="${answer.user.name}">allen</a></strong>
                                        </div>
                                        <!--<small>Donec id elit non mi porta.</small>-->
                                        <div>
                                    <span class="m-fade fs-14px" th:utext="${answer.user.introduction}">
                                    自我介绍
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 问题方案内容 -->
                            <div class="answer-content" th:utext="${answer.descriptionCnHtml}"></div>
                            <!-- 方案的发布时间 -->
                            <div class="m-fade marginbottom-1rem margintop-1rem fs-14px">
                                <a href="#" class="tooltip-a" data-toggle="tooltip" data-placement="top"
                                   th:title="'发布于 ' + ${answer.createTimeStr}">
                                    发布于&nbsp;<span th:text="${answer.createDateStr}">2018-06-09</span>
                                </a>
                            </div>

                            <div class="answer-list-item-footer">
                                <!-- 点赞 -->
                                <button id="like-this-answer" type="button" class="btn btn-primary vote-button fs-14px"
                                        th:if="${answer.isCurrentUserVoteUp == false}"
                                        th:onclick="'javascript:likeThisAnswer('+${answer.id}+', 1)'"
                                        data-toggle="modal">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    &nbsp;[[${answer.voteUp}]]&nbsp;次赞
                                </button>

                                <button id="unlike-this-answer" type="button" class="btn btn-primary vote-button-active fs-14px"
                                        th:if="${answer.isCurrentUserVoteUp == true}"
                                        th:onclick="'javascript:likeThisAnswer('+${answer.id}+', -1)'"
                                        data-toggle="modal">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    &nbsp;[[${answer.voteUp}]]&nbsp;次赞
                                </button>

                                <!-- 改进 -->
                                <a th:href="@{'/answer/' + ${answer.id} + '/edit'}"
                                   class="gray-a marginleft-15px fs-14px">
                                    <i class="fa fa-edit"></i>&nbsp;&nbsp;改进&nbsp;
                                </a>

                                <div class="contributor-avatars-container marginleft-15px border-left">
                                    <ul class="contributor-avatars">
                                        <!-- 方案的最新编辑者 -->
                                        <li th:if="${answer.latestEditorUserId != null && answer.latestEditorUserId != 0}">
                                            <a th:href="@{'/user/' + ${answer.latestEditorUserId}}">
                                                <img class="contributor-avatar"
                                                     th:src="${answer.latestEditorUserAvatar}"
                                                     data-toggle="tooltip" data-placement="top"
                                                     th:title="'最新编辑 by ' + ${answer.latestEditorUserName}"/>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- 右边栏 -->
        <div class="col-md-3 br-3px">
            <!-- 相似问题 -->
            <div id="about-question-card" class="card" style="display: none;">
                <div class="card-header m-card-header">
                    <div class="card-title">相似问题</div>
                </div>
                <div class="card-body">
                    <ul id="about-question-list" class="list-group list-group-flush">
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center border0">-->
                        <!--<a class="fs-14px blue-a" href="#">fsfsdjfljdsofjdosfjosdjf奇偶水电费是否就搜地方</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 回到顶部 -->
    <button th:replace="fragment/common :: backToTop"></button>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script th:src="@{/plugins/zoomify/zoomify.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<!--<script th:replace="fragment/common-js :: nprogress"></script>-->

<script th:inline="javascript">

    $(document).ready(function () {
        // 代码高亮
        hljs.initHighlightingOnLoad();

        // 图片放大
        $('p img').zoomify();

        // 相关问题栏滑动固定
        $("#about-question-card").sticky({
            topSpacing: 70,
            bottomSpacing: 163
        });

        var questionTitle = [[${response.titleCn}]];
        var questionId = [[${response.id}]];


        $('#about-question-card').show();
        // 右边栏数据，异步加载
        // hot tags
        $.ajax({
            type: "GET",
            async: true,
            url: "/search/question/about?id=" + questionId + "&title=" + questionTitle,
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, question) {
                        html += "<li class=\"list-group-item d-flex justify-content-between align-items-center border0 padding0\">";
                        html += "<a class=\"fs-14px blue-a\" href=\"/question/" + question.id + "\">" + question.title + "</a>";
                        html += "</li>"
                    });
                    $('#about-question-list').html(html);
                }
            }
        });

        // increase the viewNum of question
        // csrf
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        var questionId = [[${response.id}]];
        var jsonStr = {"questionId": questionId};
        $.ajax({
            type: "post",
            async: true,
            url: "/question/viewNum/increase",
            datatype: "json",
            contentType: "application/json",
            data: JSON.stringify(jsonStr)
        });
    });

    // 点赞问题
    function likeThisQuestion(operationType) {
        // csrf
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        var questionId = [[${response.id}]];
        var jsonStr = {"questionId": questionId, "operationType": operationType};
        $.ajax({
            type: "post",
            async: true,
            url: "/api/question/voteUp/change",
            datatype: "json",
            contentType: "application/json",
            data: JSON.stringify(jsonStr),
            success: function (response) {
                if (response.success == true) {
                    $('#loginModal').modal('hide');
                    window.location.reload();
                    // TODO 改成异步更新页面内容
                }
            },
            // http status not 200
            error: function (response) {
                $('#loginModal').modal('show');
            }

        });
    }

    // 点赞方案
    function likeThisAnswer(answerId, operationType) {
        // csrf
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        var jsonStr = {"answerId": answerId, "operationType": operationType};
        $.ajax({
            type: "post",
            async: true,
            url: "/api/answer/voteUp/change",
            datatype: "json",
            contentType: "application/json",
            data: JSON.stringify(jsonStr),
            success: function (response) {
                if (response.success == true) {
                    $('#loginModal').modal('hide');
                    window.location.reload();
                    // TODO 改成异步更新页面内容
                }
            },
            // http status not 200
            error: function (response) {
                $('#loginModal').modal('show');
            }

        });
    }
</script>
</html>