<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>标签问题页 - Exception 开发者问题解决方案分享社区</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/question/question-tag-list.css}">
    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="col-md-9 br-3px">

            <!-- search -->
            <div class="card">
                <div class="card-header m-card-header">
                    <a href="#" class="badge badge-light-blue marginright-5px" th:text="${response.name}">java</a>
                    <!--<span class="badge badge-secondary float-right">999</span>-->
                    <span class="cell-multiplier">
                        <span>×</span>&nbsp;
                        <span th:text="${response.questionCount}">0</span>
                    </span>
                </div>
                <div class="card-body" th:utext="${response.descriptionCn}">
                    Java（不要与JavaScript或JScript混淆）是一种旨在与
                </div>
            </div>

            <div class="card margintop-10px marginbottom-10px">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a id="new" class="nav-link gray-nav-link fs-14px" th:href="@{'/question/tag/' + ${response.id}}">最新</a>
                        </li>
                        <li class="nav-item">
                            <a id="hot" class="nav-link gray-nav-link fs-14px" th:href="@{'/question/tag/' + ${response.id} + '?tab=hot'}">最热</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body padding0">
                    <div class="list-group">
                        <div th:each="question : ${response.data}" href="#" class="list-group-item list-group-item-action flex-column align-items-start home-list-group-item question-item">
                            <div class="media-left marginleft-5px">
                                <a th:href="@{'/user/' + ${question.createUserId}}">
                                    <img th:src="${question.createUserAvatar}" class="rounded media-img">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="d-flex w-100 justify-content-between">
                                    <h2 class="mb-1 fs-16px"><a th:href="@{'/question/' + ${question.id}}" th:text="${question.titleCn}" class="gray-dark">docker 启动容器时，映射端口报错，如何解决？</a></h2>
                                </div>
                                <!--<small>Donec id elit non mi porta.</small>-->
                                <div class="margintop-2px">
                                    <a th:each="tag : ${question.tags}"
                                       th:utext="${tag.tagName}"
                                       th:href="@{'/question/tag/' + ${tag.tagId}}"
                                       class="badge badge-light-blue marginright-5px">android</a>
                                    <span class="m-fade fs-12px" style="margin-left: -2px;">
                                        •&nbsp;
                                        <a th:href="@{'/user/' + ${question.createUserId}}" class="gray-a fs-12px">
                                            <strong th:utext="${question.createUserName}"></strong>
                                        </a>
                                        &nbsp;•&nbsp;[[${question.beforeTimeStr}]]
                                        </span>
                                </div>
                                <!--其他信息-->
                            </div>
                        </div>
                    </div>

                    <!-- 分页 -->
                    <div class="margintop-30px marginbottom-30px">
                        <nav aria-label="Page navigation example">
                            <ul id="pagination" class="pagination justify-content-center">
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>

        <!-- 右边栏 -->
        <div class="col-md-3 br-3px">
            <!-- 热门标签 -->
            <div class="card">
                <div class="card-header m-card-header">
                    <div class="card-title">热门标签</div>
                    <!--<span class="pull-right">更多>></span>-->
                </div>
                <div class="card-body hot-tag-card-body">
                    <ul id="hot-tag-list" class="list-group list-group-flush">
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center">-->
                        <!--<span class="badge badge-secondary">android</span>-->
                        <!--<span class="badge badge-light badge-pill">14</span>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>

            <!-- 热门问题-->
            <div class="card margintop-10px">
                <div class="card-header m-card-header">
                    <div class="card-title">热门问题</div>
                </div>
                <div class="card-body hot-question-card-body" id="hot-question-list">
                </div>
            </div>
        </div>
    </div>
    <!-- 回到顶部 -->
    <button th:replace="fragment/common :: backToTop"></button>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
</body>

<script th:replace="fragment/common-js :: js"></script>

<script th:inline="javascript">
    $(document).ready(function() {
        // 分页
        $('#pagination').twbsPagination({
            totalPages: [[${response.totalPage}]],
            visiblePages: 7,
            startPage: [[${response.currentPage}]],
            initiateStartPageClick: false,
            first: '首页',
            prev: '上一页',
            next: '下一页',
            last: '尾页',
            onPageClick: function (event, pageIndex) {
                location.href = "/question/tag/" + [[${response.id}]] + "?pageIndex=" + pageIndex + "&tab=" + [[${tab}]];
            }
        });

        // 右边栏数据，异步加载
        // hot tags
        $.ajax({
            type: "GET",
            async: true,
            url: "/home/hot/tag/list",
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, tag) {
                        html += "<li class=\"list-group-item d-flex justify-content-between align-items-center border0 padding0\">";
                        html += "<a href=\"/question/tag/" + tag.tagId + "\" class=\"badge badge-light-blue\">" + tag.tagName + "</a>";
                        html += "<span class=\"badge badge-light badge-pill m-fade\">" + tag.questionCount + "</span>";
                        html += "</li>"
                    });
                    $('#hot-tag-list').html(html);
                }
            }
        });

        // hot questions
        $.ajax({
            type: "GET",
            async: true,
            url: "/home/hot/question/list",
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var html = '';
                    var data = response.data;
                    $.each(data, function (i, question) {
                        html += "<div class=\"hot-question-item\">";
                        html += "<a class=\"fs-14px blue-a\" href='/question/" + question.id + "'>" + question.titleCn + "</a>";
                        html += "&nbsp;&nbsp;&nbsp;" + question.viewNum + "&nbsp;次阅读";
                        html += "</div>";
                    });
                    $('#hot-question-list').html(html);
                }
            }
        });
    });

</script>
</html>