<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/user/user-wall.css}">

    <title>Exception问答社区,用户墙</title>
</head>
<body>
<!-- 顶部导航栏 -->
<div th:replace="fragment/common :: header"></div>
<!-- main content -->
<div class="container main-content">
    <div class="row">
        <div class="card user-wall-card">
            <div class="card-header m-card-header">
                用户墙
                <small class="float-right card-header-small margintop-5px">[[${response.totalCount}]]&nbsp;位贡献者</small>
            </div>
            <div class="card-body user-wall-card-body">
                <div class="grid-layout">

                    <div th:each="user : ${response.data}" class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" th:src="${user.userAvatar}">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#" th:text="${user.userName}">username</a>
                            </div>
                            <div class="user-introduce" th:utext="${user.userIntroduction}">自我介绍</div>
                        </div>
                    </div>
                </div>

                <!-- 分页 -->
                <nav aria-label="Page navigation example">
                    <ul id="pagination" class="pagination justify-content-center user-wall-pagination">
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
<!-- footer -->
<div th:replace="fragment/common :: footer"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<!--<script th:replace="fragment/common-js :: nprogress"></script>-->

<script th:inline="javascript">
    $(document).ready(function() {
        // 分页
        $('#pagination').twbsPagination({
            totalPages: [[${response.totalPage}]],
            visiblePages: 7,
            startPage: [[${response.currentPage}]],
            initiateStartPageClick: false,
            first: '首页',
            prev: '上一页',
            next: '下一页',
            last: '尾页',
            onPageClick: function (event, pageIndex) {
                // $('#page-content').text('Page ' + page);
                location.href = "/user?pageIndex=" + pageIndex;
            }
        });
    });



</script>
</html>