<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title th:utext="${response.data.userName} + '的个人空间 - Exception开发者社区'">title</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/user/user-detail.css}">
    <link rel="stylesheet" th:href="@{/plugins/contribution-chart/calendar-heatmap.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <!-- 用户 avatar 展示 -->
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" th:src="${response.data.userAvatar}">
                <div class="card-body">
                    <h5 class="card-title fs-20px" th:utext="${response.data.userName}">Allen Jiang</h5>
                    <p class="card-text text-gray" th:utext="${response.data.userIntroduction}">Java 工程师, 专注于分布式&高并发</p>
                    <a href="#" class="btn btn-primary follow">关&nbsp;&nbsp;&nbsp;&nbsp;注</a>
                </div>
            </div>

            <div th:if="${response?.data?.isUserDetailInfoAllNull == false}" class="card margintop-10px">
                <ul class="list-group list-group-flush" >
                    <!-- location -->
                    <li th:if="${response?.data?.location != null}" class="list-group-item user-info-item">
                        <i class="fa fa-map-marker location text-gray"></i>
                        [[${response.data.location}]]
                    </li>
                    <!-- email -->
                    <li th:if="${response?.data?.email != null}" class="list-group-item user-info-item">
                        <i class="fa fa-envelope-o fa-fw text-gray"></i>
                        <a th:href="'mailto:' + ${response.data.email}" th:utext="${response.data.email}">weiwosuoai1991@gmail.com</a>
                    </li>
                    <!-- github -->
                    <li th:if="${response?.data?.githubUrl != null}" class="list-group-item user-info-item">
                        <i class="fa fa-github github text-gray"></i>
                        <a th:href="${response.data.githubUrl}" target="_blank" th:utext="${response.data.githubUrl}">github.com/weiwosuoai</a>
                    </li>
                    <!-- link -->
                    <li th:if="${response?.data?.linkUrl != null}" class="list-group-item user-info-item">
                        <i class="fa fa-link link text-gray"></i>
                        <a th:href="${response.data.linkUrl}" target="_blank" th:utext="${response.data.linkUrl}">www.exception.site</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 用户详情展示 -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a id="new" class="nav-link fs-14px active border-bottom-0" href="#">问题方案
                                <span class="badge badge-secondary" th:text="${response.data.totalQuestionCount}">4</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body padding0">
                    <div class="list-group">
                        <div href="#" th:each="question : ${response.data.questions}" class="list-group-item list-group-item-action flex-column align-items-start user-list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a th:href="@{'/question/' + ${question.id}}" class="gray-dark" th:text="${question.titleCn}">title</a></h5>
                            </div>
                            <div class="margintop-3px">
                                <a th:each="tag : ${question.tags}"
                                   th:utext="${tag.tagName}"
                                   th:href="'/question/tag/' + ${tag.tagId}"
                                   class="badge badge-light-blue marginright-5px">android</a>
                                <span class="text-gray fs-12px" style="margin-left: -2px;">
                                        •&nbsp;[[${question.beforeTimeStr}]]
                                </span>
                            </div>
                        </div>
                        <div class="question-list-footer">
                            <small>仅显示最近 5 条记录</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 贡献图表 -->
            <div class="card margintop-10px">
                <div class="card-header m-card-header">
                    <div class="card-title">本月贡献值 <span id="totalCountOfMonth">0</span></div>
                </div>
                <div class="card-body">
                    <div class="contribution-chart-container"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script th:src="@{/plugins/contribution-chart/calendar-heatmap.js}"></script>

<script th:inline="javascript">
    $(document).ready(function() {
        // ajax 获取用户贡献数据
        $.ajax({
            type: "GET",
            async: true,
            url: "/user/" + [[${userId}]] + "/contribution/data",
            datatype: "json",
            success: function (response) {
                if (response.success == true) {
                    var totalCountOfMonth = response.data.totalCountOfMonth;
                    // 渲染用户本月的贡献总数
                    $("#totalCountOfMonth").text(totalCountOfMonth);

                    var chartData = response.data.contributionItems;
                    var heatmap = calendarHeatmap()
                        .data(chartData)
                        .selector('.contribution-chart-container')
                        .tooltipEnabled(true)
                        .colorRange(['#eee', '#196127'])
                        .onClick(function (data) {
                            console.log('data', data);
                        });
                    heatmap();  // render the chart
                }
            }
        });
    })

</script>
</html>