<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/web/user-wall.css}">

    <title>Exception问答社区,用户墙</title>
</head>
<body>
<!-- 顶部导航栏 -->
<div th:replace="fragment/common :: header"></div>
<!-- main content -->
<div class="container main-content">
    <div class="row">
        <div class="card user-wall-card">
            <div class="card-header m-card-header">
                用户墙
                <small class="float-right card-header-small margintop-5px">8888&nbsp;位贡献者</small>
            </div>
            <div class="card-body user-wall-card-body">
                <div class="grid-layout">
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">面朝大海,春暖花开范德萨范德萨范德萨发送到发送到发送到</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                    <div class="item float-left">
                        <div class="media-left user-wall-media-left">
                            <img class="user-wall-avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@akarnokd">
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a href="#"> allenjiang</a>
                            </div>
                            <div class="user-introduce">落叶归根</div>
                        </div>
                    </div>
                </div>

                <!--<a href="/akarnokd" class="user" data-ga-click="Orgs, go to person, location:profile people module; text:username">-->

                <!--</a>-->
                <!--<a href="/asm89" class="member-avatar" data-ga-click="Orgs, go to person, location:profile people module; text:username">-->
                    <!--<img class="avatar" src="https://avatars1.githubusercontent.com/u/657357?s=96&amp;v=4" width="48" height="48" alt="@asm89">-->
                <!--</a>-->
                <!--<a href="/benjchristensen" class="member-avatar" data-ga-click="Orgs, go to person, location:profile people module; text:username">-->
                    <!--<img class="avatar" src="https://avatars1.githubusercontent.com/u/813492?s=96&amp;v=4" width="48" height="48" alt="@benjchristensen">-->
                <!--</a>-->
                <!--<a href="/benlesh" class="member-avatar" data-ga-click="Orgs, go to person, location:profile people module; text:username">-->
                    <!--<img class="avatar" src="https://avatars3.githubusercontent.com/u/1540597?s=96&amp;v=4" width="48" height="48" alt="@benlesh">-->
                <!--</a>-->
            </div>
        </div>
    </div>

</div>
<!-- footer -->
<div th:replace="fragment/common :: footer"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>
<!--<script th:replace="fragment/common-js :: nprogress"></script>-->

<script th:inline="javascript">
    $(document).ready(function() {
    });



</script>
</html>