<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>用户墙 - Exception开发者社区</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link th:include="fragment/common-css :: cssLink">
    <link rel="stylesheet" th:href="@{/css/user/user-wall.css}">

    <!-- 百度统计 -->
    <script th:replace="fragment/common-js :: baiduStatistics"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<header th:replace="fragment/common :: header"></header>
<!-- main content -->
<main class="container main-content">
    <div class="row">
        <div class="card user-wall-card">
            <div class="card-header m-card-header">
                <div class="card-title">用户墙
                    <small class="float-right card-header-small margintop-3px">[[${response.totalCount}]]&nbsp;位贡献者</small>
                </div>
            </div>
            <div class="card-body user-wall-card-body">
                <div class="grid-layout">

                    <div th:each="user : ${response.data}" class="grid-layout-cell float-left">
                        <div class="media-left user-wall-media-left">
                            <a th:href="@{'/user/' + ${user.userId}}">
                                <img class="user-wall-avatar" th:src="${user.userAvatar}">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                <a th:href="@{'/user/' + ${user.userId}}" th:text="${user.userName}">username</a>
                            </div>
                            <div class="user-introduce" th:utext="${user.userIntroduction}">自我介绍</div>
                        </div>
                    </div>
                </div>

                <!-- 分页 -->
                <div class="user-wall-pagination">
                    <nav aria-label="Page navigation example">
                        <ul id="pagination" class="pagination justify-content-center" style="margin-bottom: 10px;">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- footer -->
<footer th:replace="fragment/common :: footer"></footer>
<div th:replace="fragment/common :: loginModal"></div>
</body>

<script th:replace="fragment/common-js :: js"></script>

<script th:inline="javascript">
    $(document).ready(function() {
        // 分页
        $('#pagination').twbsPagination({
            totalPages: [[${response.totalPage}]],
            visiblePages: 7,
            startPage: [[${response.currentPage}]],
            initiateStartPageClick: false,
            first: '首页',
            prev: '上一页',
            next: '下一页',
            last: '尾页',
            onPageClick: function (event, pageIndex) {
                // $('#page-content').text('Page ' + page);
                location.href = "/user?pageIndex=" + pageIndex;
            }
        });
    });



</script>
</html>