@charset "UTF-8";

.home-list-group-item {
    border-left: 0;
    border-right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.result-highlight {
    color: #e36209;
}

.hot-tag-card-body ul li {
    margin-bottom: 20px;
}

.hot-tag-card-body ul li:last-child {
    margin-bottom: 0;
}