@charset "UTF-8";

.document-card-text {
    margin-bottom: 0;
}

.course-title {
    color: #07111B;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.course-title:hover {
    color: #175199;
}

.card-body h2:hover {
    text-decoration: none !important;
}

.course-summary {
    color: #93999F;
}

.course-container-a:hover {
    text-decoration: none;
}

.title-image {
    height: 140px;
}
