<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exception.qms.domain.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.exception.qms.domain.entity.Course" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="en_title" property="enTitle" jdbcType="VARCHAR" />
    <result column="title_image" property="titleImage" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, title_image, summary, type, create_user_id, create_time, update_time, 
    is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_course
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findCourseListTotalCount" resultType="int">
    select count(1) from t_cms_course where is_deleted = 0
  </select>

    <select id="findCourseList" resultMap="BaseResultMap">
        select id, title, title_image, summary, type, create_user_id, create_time, en_title from t_cms_course
        where is_deleted = 0 order by create_time desc limit #{start}, #{pageSize}
    </select>

    <select id="findCourseById" resultMap="BaseResultMap">
        select id, title from t_cms_course where id = #{courseId} and is_deleted = 0
    </select>

  <select id="findByEnTitle" resultMap="BaseResultMap">
      select id, title, en_title from t_cms_course where en_title = #{enTitle} and is_deleted = 0 limit 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cms_course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.exception.qms.domain.entity.Course" useGeneratedKeys="true" keyProperty="id">
    insert into t_cms_course (title, title_image,
      summary, type, create_user_id, 
      create_time, update_time, is_deleted
      )
    values (#{title,jdbcType=VARCHAR}, #{titleImage,jdbcType=VARCHAR},
      #{summary,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{createUserId,jdbcType=BIGINT}, 
      NOW(), NOW(), 0
      )
  </insert>
  <insert id="insertSelective" parameterType="com.exception.qms.domain.entity.Course" >
    insert into t_cms_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="titleImage != null" >
        title_image,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleImage != null" >
        #{titleImage,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exception.qms.domain.entity.Course" >
    update t_cms_course
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleImage != null" >
        title_image = #{titleImage,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exception.qms.domain.entity.Course" >
    update t_cms_course
    set title = #{title,jdbcType=VARCHAR},
      title_image = #{titleImage,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>