<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exception.qms.domain.mapper.CourseChapterContentMapper" >
  <resultMap id="BaseResultMap" type="com.exception.qms.domain.entity.CourseChapterContent" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="chapter_id" property="chapterId" jdbcType="BIGINT" />
    <result column="seo_keywords" property="seoKeywords" jdbcType="VARCHAR" />
    <result column="view_num" property="viewNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.exception.qms.domain.entity.CourseChapterContent" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, chapter_id, seo_keywords, view_num, create_time, update_time, is_deleted
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_cms_course_chapter_content
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findContentByChaperId" resultMap="ResultMapWithBLOBs">
    select id, chapter_id, seo_keywords, view_num, create_time, content from t_cms_course_chapter_content
    where chapter_id = #{chapterId} and is_deleted = 0
  </select>
  
  <select id="findAllChapterId" resultMap="BaseResultMap">
    select chapter_id, update_time from t_cms_course_chapter_content
    where is_deleted = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cms_course_chapter_content
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.exception.qms.domain.entity.CourseChapterContent" >
    insert into t_cms_course_chapter_content (id, chapter_id, seo_keywords, 
      view_num, create_time, update_time, 
      is_deleted, content)
    values (#{id,jdbcType=BIGINT}, #{chapterId,jdbcType=BIGINT}, #{seoKeywords,jdbcType=VARCHAR}, 
      #{viewNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT}, #{content,jdbcType=LONGVARCHAR})
  </insert>

  <insert id="addCourseChapterContent">
    insert into t_cms_course_chapter_content (chapter_id, seo_keywords,
      view_num, create_time, update_time,
      is_deleted, content)
    values (#{chapterId,jdbcType=BIGINT}, #{seoKeywords,jdbcType=VARCHAR},
      1, NOW(), NOW(),
      0, #{content,jdbcType=LONGVARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.exception.qms.domain.entity.CourseChapterContent" >
    insert into t_cms_course_chapter_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chapterId != null" >
        chapter_id,
      </if>
      <if test="seoKeywords != null" >
        seo_keywords,
      </if>
      <if test="viewNum != null" >
        view_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="chapterId != null" >
        #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="seoKeywords != null" >
        #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exception.qms.domain.entity.CourseChapterContent" >
    update t_cms_course_chapter_content
    <set >
      <if test="chapterId != null" >
        chapter_id = #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="seoKeywords != null" >
        seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        view_num = #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.exception.qms.domain.entity.CourseChapterContent" >
    update t_cms_course_chapter_content
    set chapter_id = #{chapterId,jdbcType=BIGINT},
      seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      view_num = #{viewNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exception.qms.domain.entity.CourseChapterContent" >
    update t_cms_course_chapter_content
    set chapter_id = #{chapterId,jdbcType=BIGINT},
      seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      view_num = #{viewNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateCourseChapterContent">
  update t_cms_course_chapter_content
    set
      seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      content = #{content}
    where chapter_id = #{chapterId}
  </update>
</mapper>